.car-info-container {
  display: block;
  width: 100%;
  margin: auto;
}

#car-info {
  /* background-color: beige; */
  width: 50%;
  margin: 5px;
}

.car-info-container,
.entry-names,
.entry-values,
.booking-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.entry-names,
.entry-values {
  justify-content: start;
  align-items: flex-start;
  padding-bottom: 10px;
  padding-top: 10px;
}

.entry-names {
  padding-right: 10px;
}

.entry-values {
  padding-left: 10px;
}

#carInfoHeader,
#details,
#desc,
#bookCarHeader {
  display: block;
  background-color: rgb(149, 177, 194);
  color: white;
  height: 100%;
  margin: 0;
  font-weight: bold;
}

.car-details-table {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(214, 225, 233);
  color: #0290ff;
}

.description {
  background-color: rgb(96, 97, 97);
  color: white;
}

.car-img {
  width: 100%;
}

#carInfoLogo {
  width: 25px;
  height: 18px;
  padding-right: 10px;
}

#manufacturer {
  padding-right: 5px;
}

.booking-form {
  margin-top: 10px;
  padding-top: 10px;
}

#startDate,
#endDate {
  padding-right: 10px;
  font-weight: bold;
}

#startDate {
  color: rgba(0, 129, 17, 0.575);
}

#endDate {
  color: rgb(214, 52, 52);
}

#bookCarBtn {
  display: block;
  border: none;
  background-color: #0290ff;
  color: white;
  font-weight: bold;
  padding: 8px;
  width: 50%;
  border-radius: 10px 10px;
}

@media only screen and (max-width: 414px) {
  .car-details-table {
    font-size: 12px;
  }

  .entry-names,
  .entry-values {
    padding: 5px;
  }

  .entry-names {
    padding-right: 4px;
  }
  
  .entry-values {
    padding-left: 4px;
  }
}